<div> 
    <p class="mat-body-2"> Basic Buttons </p> 
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
<a mat-button routerLink=".">Link</a><br>
</div>

<div>
    <p class="mat-body-2"> Raised Buttons </p> 
<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button routerLink=".">Link</a>
<br>
</div>

<div>
    <p class="mat-body-2"> Design Buttons </p> 
    <button mat-stroked-button>Basic</button>
<button mat-stroked-button color="primary">Primary</button>
<button mat-stroked-button color="accent">Accent</button>
<button mat-stroked-button color="warn">Warn</button>
<button mat-stroked-button disabled>Disabled</button>
<a mat-stroked-button routerLink=".">Link</a>
    <br>
</div>

<div>
    <p class="mat-body-2"> Flat Button </p> 
    <button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button>
<a mat-flat-button routerLink=".">Link</a>
    <br>
</div>

<div>
    <p class="mat-body-2"> Icon Buttons </p> 
    <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      
      <button mat-icon-button color="primary">
        <mat-icon>favorite</mat-icon>
      </button>
      
      <button mat-icon-button color="accent">
        <mat-icon>favorite</mat-icon>
      </button>
      
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      
      <button mat-icon-button disabled>
        <mat-icon>favorite</mat-icon>
      </button>
    <br>
</div>